@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Quicksand:300,400,500,600,700&display=swap");
@-webkit-keyframes leftToRight {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

body {
  font-family: "Quicksand", "sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

::-moz-selection {
  background-color: #d72525;
  color: #fff;
}

::selection {
  background-color: #d72525;
  color: #fff;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form--input {
  border: 1px solid #d72525;
  background: #ffffff;
  padding: 2.5rem 3.5rem;
  width: 55rem;
  color: #000;
  line-height: 1.6rem;
  font-size: 1.3rem;
  font-family: 'Quicksand';
  font-weight: bold;
  letter-spacing: 0.125em;
}

.login__form--input::-webkit-input-placeholder {
  color: #000;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.login__form--input:-ms-input-placeholder {
  color: #000;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.login__form--input::-ms-input-placeholder {
  color: #000;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.login__form--input::placeholder {
  color: #000;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.login__form--input:not(:last-child) {
  margin-bottom: 5rem;
}

.login__form--btn {
  width: 16rem;
  margin-bottom: 5rem;
}

.login__text {
  color: #000;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.105em;
}

.login__text--signup {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.logo__box {
  margin-bottom: 10rem;
}

.logo {
  font-size: 2.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  color: #d72525;
  position: relative;
}

.logo::before, .logo::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10rem;
  height: 1px;
  background-color: #d72525;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.logo::before {
  top: -40%;
  left: -20%;
  -webkit-animation: 1.4s rightToLeft;
          animation: 1.4s rightToLeft;
}

.logo::after {
  bottom: -40%;
  right: -20%;
  -webkit-animation: 1.4s leftToRight;
          animation: 1.4s leftToRight;
}

.logo__navbar {
  margin-right: 18rem;
  text-decoration: none;
}

.logo__login {
  font-size: 4rem;
}

.logo__login::before, .logo__login::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 15rem;
  height: 1px;
  background-color: #d72525;
}

button {
  border: none;
  background-color: #f7f7f7;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  background-color: #d72525;
  border-radius: 5rem;
  border: none;
  color: #fff;
  font-family: "Quicksand", "sans-serif";
  letter-spacing: 0.32em;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 2rem;
}

.btn__sign-in {
  color: #fff;
}

.btn__imdb, .btn__trailer, .btn__login {
  width: 16rem;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  position: relative;
}

.search__input {
  font-family: "Quicksand", "sans-serif";
  font-weight: bold;
  font-size: 1.3rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  background-color: #f7f7f7;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.search__input:focus, .search__input:active {
  outline: none;
}

.search__submit {
  position: absolute;
  right: 2rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11.3rem;
  margin-bottom: 8rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 144rem;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar__links--link {
  text-decoration: none;
}

.navbar__genres {
  position: relative;
  color: inherit;
}

.navbar__genres:hover > .navbar__dropdown {
  display: block;
  opacity: 1;
}

.navbar__dropdown {
  position: absolute;
  top: 2.5rem;
  left: 0;
  display: none;
  opacity: 0;
  background-color: black;
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */