@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Quicksand:300,400,500,600,700&display=swap");
@-webkit-keyframes leftToRight {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

.container {
  max-width: 154rem;
  margin: 0 auto;
}

body {
  font-family: "Quicksand", "sans-serif";
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

::-moz-selection {
  background-color: #d72525;
  color: #fff;
}

::selection {
  background-color: #d72525;
  color: #fff;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form--input {
  border: 1px solid #d72525;
  background: #ffffff;
  padding: 2.5rem 3.5rem;
  width: 55rem;
  color: #000;
  line-height: 1.6rem;
  font-size: 1.3rem;
  font-family: 'Quicksand';
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.login__form--input::-webkit-input-placeholder {
  color: #000;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.login__form--input:-ms-input-placeholder {
  color: #000;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.login__form--input::-ms-input-placeholder {
  color: #000;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.login__form--input::placeholder {
  color: #000;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.login__form--input:not(:last-child) {
  margin-bottom: 5rem;
}

.login__form--btn {
  width: 16rem;
  margin-bottom: 3.5rem;
}

.login__text {
  color: #000;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.105em;
}

.login__text--signup {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.logo__box {
  margin-bottom: 10rem;
}

.logo {
  font-size: 2.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #d72525;
  position: relative;
}

.logo::before, .logo::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10rem;
  height: 1px;
  background-color: #d72525;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.logo::before {
  top: -40%;
  left: -20%;
  -webkit-animation: 1.4s rightToLeft;
          animation: 1.4s rightToLeft;
}

.logo::after {
  bottom: -40%;
  right: -20%;
  -webkit-animation: 1.4s leftToRight;
          animation: 1.4s leftToRight;
}

.logo__navbar {
  margin-right: 14rem;
  text-decoration: none;
}

.logo__login {
  font-size: 4rem;
}

.logo__login::before, .logo__login::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 15rem;
  height: 1px;
  background-color: #d72525;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

button {
  border: none;
  background-color: #f7f7f7;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  background-color: #d72525;
  border-radius: 5rem;
  border: none;
  color: #fff;
  font-family: "Quicksand", "sans-serif";
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 2rem;
}

.btn__sign-in {
  color: #fff;
}

.btn__imdb, .btn__trailer, .btn__login {
  width: 16rem;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  position: relative;
}

.search__input {
  font-family: "Quicksand", "sans-serif";
  font-weight: bold;
  font-size: 1.3rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #f7f7f7;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.search__input:focus, .search__input:active {
  outline: none;
}

.search__submit {
  color: #444;
  position: absolute;
  right: 2rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11.3rem;
  margin-bottom: 8rem;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 154rem;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  color: #f7f7f7;
  font-weight: 300;
  font-size: 1.6rem;
  align-items: center;
}

.navbar__links--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-top: solid 1px #d72525;
  border-bottom: solid 1px #d72525;
  width: 12rem;
  margin: 0 2rem;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navbar__links--box:hover {
  background-color: #d72525;
}

.navbar__links--link {
  color: #f7f7f7;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1.7rem 0.8rem;
  text-decoration: none;
}

.navbar__links--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 3rem;
  margin-left: auto;
}

.navbar__genres {
  position: relative;
  color: inherit;
}

.navbar__genres:hover > .navbar__dropdown {
  display: block;
  opacity: 1;
}

.navbar__dropdown {
  position: absolute;
  top: 5.5rem;
  left: -1.6rem;
  background-color: #2d2626;
  display: none;
  opacity: 0;
  z-index: 10000;
  list-style-type: none;
}

.navbar__dropdown--item {
  display: block;
  font-size: 1.2rem;
  padding: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__dropdown--item:hover {
  background-color: #d72525;
}

.profile__icon {
  margin-right: 0.8rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

.header__main {
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.header__sub {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.header__links a {
  color: #000;
}

.header__recommended {
  font-size: 4rem;
  margin-bottom: 6rem;
}

.movies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(11rem, 26.7rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(11rem, 26.7rem));
  grid-column-gap: 5rem;
  grid-row-gap: 5.4rem;
}

.movies__item {
  -webkit-box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
  height: 40.5rem;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  cursor: default;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.movies__item-img {
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.movies__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.movies__item:hover > .movies__item--button {
  opacity: 0.95;
}

.movies__item--button {
  display: inline-block;
  width: 100%;
  height: 10%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  font-family: "Quicksand", "sans-serif";
  background-color: rgba(55, 242, 73, 0.95);
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.movies__empty {
  height: 44.5rem;
  border-radius: 5px;
  border: 2px dashed #949090;
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12rem;
}

.movie__img {
  -webkit-box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 15rem;
}

.movie__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.movie__heading {
  margin-bottom: 2.5rem;
}

.movie__heading--main {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #151515;
  margin-bottom: 0.8rem;
}

.movie__heading--sub {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #151515;
}

.movie__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat';
  letter-spacing: 0.1em;
  font-weight: 500;
  color: rgba(215, 37, 37, 0.75);
  margin-bottom: 2.5rem;
}

.movie__details--score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  font-weight: 600;
}

.movie__details--score-star {
  margin-right: 1.5rem;
}

.movie__details--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.movie__details--info-text:not(:last-child)::after {
  content: '|';
  margin-left: 2rem;
}

.movie__genres {
  margin-bottom: 2.5rem;
}

.movie__genres--header {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.movie__genres--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie__genres--links-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.movie__genres--links-link {
  font-size: 1.9rem;
  font-weight: 500;
  color: #d72525;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.movie__genres--links-link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.movie__genres--links-link:not(:last-child) {
  margin-right: 2.5rem;
}

.movie__overview {
  font-size: 1.9rem;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 3rem;
}

.movie__overview--text {
  color: #444;
}

.movie__cast {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  overflow: hidden;
  margin: auto 0;
}

.movie__cast--span {
  outline: none;
}

.movie__cast--img {
  display: block;
  width: 12rem;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);
  margin-right: 2rem;
}

.movie__cast--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie__links--link:not(:last-child) {
  margin-right: 4rem;
}

.slick-slider {
  width: 100%;
  overflow: hidden;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.4rem 0;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */