//! ALSO USED FOR REGISTER SCREEN

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 50vw;

		&--input {
			border: 1px solid #d72525;
			background: #ffffff;
			padding: 2.5rem 3.5rem;
			width: 60%;

			@media screen and (max-width: 1450px) {
				width: 80%;
			}

			@media screen and (max-width: 500px) {
				width: 100%;
			}

			color: $color-black;

			line-height: 1.6rem;
			font-size: 1.3rem;
			font-family: 'Quicksand';
			font-weight: bold;
			letter-spacing: $letter-spacing-small;

			&::placeholder {
				color: $color-black;
				letter-spacing: $letter-spacing-small;
				text-transform: uppercase;
			}

			&:not(:last-child) {
				margin-bottom: 4rem;
			}
		}

		&--btn {
			width: 16rem;
			margin-bottom: 3.5rem;
		}
	}

	&__text {
		color: $color-black;
		text-transform: uppercase;
		font-size: 1.3rem;
		letter-spacing: 0.105em;

		&--signup {
			font-weight: bold;
			text-decoration: underline;
			color: $color-black;
		}
	}
}

.logo__box {
	margin-bottom: 10rem;
}
