*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $color-grey-white;
}

.container {
	max-width: 154rem;
	margin: 0 auto;
}
