*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media screen and (max-width: 1300px) {
		font-size: 58.5%;
	}

	@media screen and (max-width: 1200px) {
		font-size: 53.5%;
	}

	@media screen and (max-width: 1080px) {
		font-size: 50.5%;
	}
}

body {
	background-color: $color-grey-white;
}

.container {
	max-width: 154rem;
	margin: 0 auto;

	@media screen and (max-width: $bp-1700) {
		max-width: 130rem;
	}

	@media screen and (max-width: $bp-1450) {
		max-width: 115rem;
	}

	@media screen and (max-width: $bp-1000) {
		max-width: 105rem;
	}

	@media screen and (max-width: $bp-900) {
		max-width: 90rem;
	}

	@media screen and (max-width: $bp-780) {
		max-width: 80rem;
	}

	@media screen and (max-width: $bp-700) {
		max-width: 60rem;
	}

	@media screen and (max-width: $bp-550) {
		max-width: 55rem;
	}

	@media screen and (max-width: $bp-500) {
		max-width: 40rem;
	}
}
