*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media screen and (max-width: 1300px) {
		font-size: 58.5%;
	}

	@media screen and (max-width: 1200px) {
		font-size: 53.5%;
	}

	@media screen and (max-width: 1080px) {
		font-size: 50.5%;
	}
}

body {
	background-color: $color-grey-white;
}

.container {
	max-width: 154rem;
	margin: 0 auto;

	@media screen and (max-width: 1700px) {
		max-width: 130rem;
	}

	@media screen and (max-width: 1450px) {
		max-width: 115rem;
	}

	@media screen and (max-width: 1000px) {
		max-width: 105rem;
	}

	@media screen and (max-width: 900px) {
		max-width: 90rem;
	}

	@media screen and (max-width: 780px) {
		max-width: 80rem;
	}

	@media screen and (max-width: 700px) {
		max-width: 60rem;
	}

	@media screen and (max-width: 550px) {
		max-width: 55rem;
	}
}
