// Bug with color black variable

// FONT VARIABLES
$font-primary: 'Quicksand', 'sans-serif';
$font-text: 'Montserrat';

// COLOR VARIABLES
$color-primary: #d72525;

$color-white: #fff;
$color-grey-white: #f7f7f7;
$color-black: #000;
$color-grey-black: #444;

// BOX SHADOW
$box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);

// LETTER SPACING
$letter-spacing-small: 0.2rem;
$letter-spacing-large: 1rem;

// Media breakpoints
$bp-1700: 106.25em;
$bp-1450: 90.625em;
$bp-1300: 81.25em;
$bp-1200: 75em;
$bp-1080: 67.5em;
$bp-1000: 62.5em;
$bp-950: 59.375em;
$bp-900: 56.25em;
$bp-780: 48.75em;
$bp-700: 43.75em;
$bp-550: 34.375em;
$bp-500: 31.25em;
