// Bug with color black variable

// FONT VARIABLES
$font-primary: 'Quicksand', 'sans-serif';
$font-text: 'Montserrat';

// COLOR VARIABLES
$color-primary: #d72525;

$color-white: #fff;
$color-grey-white: #f7f7f7;
$color-black: #000;
$color-grey-black: #444;

// BOX SHADOW
$box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.4);

// LETTER SPACING
$letter-spacing-small: 0.2rem;
$letter-spacing-large: 1rem;

// Media breakpoints
$bp-1700: 1700px;
$bp-1450: 1450px;
$bp-1300: 1300px;
$bp-1080: 1080px;
