.hamburger__container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 7rem;
	height: 6rem;
}

.hamburger {
	display: flex;
	flex-direction: column;

	cursor: pointer;

	&__line {
		width: 5rem;
		height: 2px;
		background-color: $color-primary;

		&:first-child {
			margin-bottom: 1.5rem;
		}

		&:nth-child(2) {
			opacity: 1;
		}

		&:last-child {
			margin-top: 1.5rem;
		}

		transition: all 0.3s;
	}
}

.active {
	& > .hamburger__line {
		&:first-child {
			transform: rotate(-45deg) translateX(0px) translateY(0px);
			margin: 0;
		}

		// Remove middle line on active
		&:nth-child(2) {
			opacity: 0;
			display: none;
		}

		&:last-child {
			transform: rotate(45deg) translateX(-1px) translateY(-1px);
			margin: 0;
		}

		transition: opacity 12s transform 0.3s;
	}
}

.not-active {
}
