.header {
	margin-bottom: 6rem;

	&__box {
		&--main {
			font-size: 4rem;
			font-weight: 400;
			letter-spacing: 1.4rem;
			text-transform: uppercase;

			margin-bottom: 1.4rem;

			@media screen and (max-width: 500px) {
				font-size: 3rem;
				letter-spacing: 1rem;				
			}
		}

		&--sub {
			font-size: 2.4rem;
			font-weight: 300;
			letter-spacing: 0.6rem;
			text-transform: uppercase;
		}
	}

	
}
