.logo {
	font-size: 2.7rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: $letter-spacing-default;
	color: $color-primary;
	position: relative;

	&__box {
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		display: inline-block;
		width: 10rem;
		height: 1px;
		background-color: $color-primary;

		transition: all 0.2s ease;
	}

	&::before {
		top: -40%;
		left: -20%;
		animation: 1.4s rightToLeft;
	}

	&::after {
		bottom: -40%;
		right: -20%;
		animation: 1.4s leftToRight;
	}

	&-navigation {
	}

	// Increased font size and line width
	&__login {
		font-size: 4rem;

		&::before,
		&::after {
			position: absolute;
			content: '';
			display: inline-block;
			width: 15rem;
			height: 1px;
			background-color: $color-primary;
		}
	}
}
