// Make widths 100% with media queries
//TODO: Look into another carousel instead of react-slick

.movie {
	display: flex;
	align-items: center;
	margin-bottom: 12rem;

	@media screen and (max-width: 900px) {
		flex-direction: column;
	}

	@media screen and (max-width: $bp-500) {
		margin-bottom: 8rem;
	}

	&__img {
		display: block;
		box-shadow: $box-shadow;
		object-fit: cover;
		border-radius: 5px;

		margin-right: 15rem;

		backface-visibility: hidden;

		max-width: 100%;

		@media screen and (max-width: $bp-1450) {
			margin-right: 10rem;
		}

		@media screen and (max-width: $bp-900) {
			margin-right: 0;
			margin-bottom: 12rem;
		}

		@media screen and (max-width: $bp-700) {
			margin-bottom: 8rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
	}

	&__heading {
		margin-bottom: 2.5rem;

		&--main {
			font-size: 4rem;
			font-weight: 300;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #151515;
			margin-bottom: 0.8rem;
		}

		&--sub {
			font-size: 2.6rem;
			font-weight: 500;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #151515;
		}
	}

	&__details {
		display: flex;
		justify-content: space-between;

		font-family: 'Montserrat';
		letter-spacing: 0.1em;
		font-weight: 500;

		color: rgba($color: #d72525, $alpha: 0.75);

		margin-bottom: 2.5rem;

		&--score {
			display: flex;
			margin-right: auto;
			font-weight: 600;

			&-star {
				margin-right: 1.5rem;
			}
			&-rating {
			}
		}

		&--info {
			display: flex;
			justify-content: space-between;
			flex: 0 0 40%;

			@media screen and (max-width: $bp-700) {
				flex: 0 0 60%;
			}

			&-text {
				&:not(:last-child) {
					&::after {
						content: '|';
						margin-left: 2rem;
					}
				}
			}
		}
	}

	&__genres {
		margin-bottom: 2.5rem;

		&--header {
			text-transform: uppercase;
			letter-spacing: $letter-spacing-small;
			margin-bottom: 2.5rem;
			font-weight: 500;
		}

		// Note: TranslateY did not work when they were not in a parent element
		&--links {
			display: flex;

			@media screen and (max-width: $bp-700) {
				flex-direction: column;
			}

			&-icon {
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 1rem;
			}

			&-link {
				font-size: 1.9rem;
				font-weight: 500;
				color: $color-primary;

				transition: all 0.2s;

				// Fix text shake during animation
				backface-visibility: hidden;

				@media screen and (max-width: $bp-700) {
					margin: 0;
					padding: 1rem 0rem;
				}

				&:hover {
					transform: translateY(-3px);
				}

				&:not(:last-child) {
					margin-right: 2.5rem;
				}
			}
		}
	}

	&__overview {
		font-size: 1.9rem;
		font-family: 'Montserrat';
		font-weight: 500;
		line-height: 3rem;

		margin-bottom: 3.5rem;

		&--text {
			color: $color-grey-black;
		}
	}

	&__cast {
		display: inline-grid;

		// Need overflow hidden for the slick track (otherwise it's width would be 30k+ pixels wide)
		width: 100%;
		overflow: hidden;

		margin: auto 0;

		// Remove black box around cast members when focused/dragging them
		&--span {
			outline: none;
		}

		&--img {
			display: block;
			width: 12rem;
			height: 14rem;
			object-fit: cover;
			box-shadow: $box-shadow;

			@media screen and (max-width: $bp-1450) {
				width: 8rem;
				height: 10rem;
			}
		}

		&--box {
			display: flex;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
		width: 75%;

		margin-top: 3.5rem;

		@media screen and (max-width: $bp-1450) {
			width: 100%;
		}

		@media screen and (max-width: $bp-900) {
			width: 75%;
		}

		@media screen and (max-width: $bp-700) {
			width: 100%;
		}

		@media screen and (max-width: $bp-500) {
			flex-direction: column;
			align-items: flex-start;
		}

		&--link {
			@media screen and (max-width: $bp-1200) {
				letter-spacing: 0;
				font-weight: normal;
				text-transform: initial;
			}

			@media screen and (max-width: $bp-500) {
				margin: 1rem;
			}
		}
	}
}

.slick-slider {
	width: 100%;
	overflow: hidden;
}
