// Make widths 100% with media queries
//TODO: Look into another carousel instead of react-slick

.movie {
	display: flex;
	margin-bottom: 12rem;

	&__img {
		box-shadow: $box-shadow;
		object-fit: cover;
		border-radius: 5px;

		margin-right: 15rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 0 0 50%;
	}

	&__heading {
		margin-bottom: 2.5rem;

		&--main {
			font-size: 4rem;
			font-weight: 300;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #151515;
			margin-bottom: 0.8rem;
		}

		&--sub {
			font-size: 2.6rem;
			font-weight: 500;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #151515;
		}
	}

	&__details {
		display: flex;
		justify-content: space-between;

		font-family: 'Montserrat';
		letter-spacing: 0.1em;
		font-weight: 500;

		color: rgba($color: #d72525, $alpha: 0.75);

		margin-bottom: 2.5rem;

		&--score {
			display: flex;
			margin-right: auto;
			font-weight: 600;

			&-star {
				margin-right: 1.5rem;
			}
			&-rating {
			}
		}

		&--info {
			display: flex;
			justify-content: space-between;
			flex: 0 0 40%;

			&-text {
				&:not(:last-child) {
					&::after {
						content: '|';
						margin-left: 2rem;
					}
				}
			}
		}
	}

	&__genres {
		margin-bottom: 2.5rem;

		&--header {
			text-transform: uppercase;
			letter-spacing: $letter-spacing-small;
			margin-bottom: 2.5rem;
			font-weight: 500;
		}

		// Note: TranslateY did not work when they were not in a parent element
		&--links {
			display: flex;

			&-icon {
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 1rem;
			}

			&-link {
				font-size: 1.9rem;
				font-weight: 500;
				color: $color-primary;

				transition: all 0.2s;

				// Fix text shake during animation
				backface-visibility: hidden;

				&:hover {
					transform: translateY(-3px);
				}

				&:not(:last-child) {
					margin-right: 2.5rem;
				}
			}
		}
	}

	&__overview {
		font-size: 1.9rem;
		font-family: 'Montserrat';
		font-weight: 500;
		line-height: 3rem;

		&--text {
			color: $color-grey-black;
		}
	}

	&__cast {
		display: inline-grid;

		// Need overflow hidden for the slick track (otherwise it's width would be 30k+ pixels wide)
		width: 100%;
		overflow: hidden;

		margin: auto 0;

		// Remove black box around cast members when focused/dragging them
		&--span {
			outline: none;
		}

		&--img {
			display: block;
			width: 12rem;
			height: 14rem;
			object-fit: cover;
			box-shadow: $box-shadow;
			margin-right: 2rem;
		}

		&--box {
			display: flex;
		}
	}

	// Add margin right for links
	&__links {
		display: flex;
		// width: 85%;

		&--link {
			margin-right: 4rem;
		}
	}
}

.slick-slider {
	width: 100%;
	overflow: hidden;
}

// .movie {
// 	grid-column: center-start / center-end;
// 	display: grid;
// 	grid-template-columns: 50rem 1fr;
// 	column-gap: 9rem;
// 	margin-top: 7.5rem;

// 	// Some look better with object fit off?
// 	&__img {
// 		box-shadow: $box-shadow;
// 		// object-fit: cover;
// 		height: 70rem;
// 		width: 50rem;
// 		border-radius: 5px;
// 	}

// 	&__content {
// 		display: grid;
// 		grid-template-rows: min-content;
// 		row-gap: 3rem;
// 	}

// 	&__heading {
// 	}

// 	&__heading-main {
// 		font-size: 4.4rem;
// 		font-weight: 300;
// 		letter-spacing: 0.2em;
// 		text-transform: uppercase;
// 		color: #151515;
// 		margin-bottom: 0.8rem;
// 	}

// 	&__heading-sub {
// 		font-size: 2.6rem;
// 		font-weight: 500;
// 		letter-spacing: 0.2em;
// 		text-transform: uppercase;
// 		color: #151515;
// 	}

// 	&__details {
// 		display: flex;
// 		justify-content: space-between;
// 		font-family: 'Montserrat';
// 		letter-spacing: 0.1em;
// 		font-weight: 600;

// 		// Temporary
// 		width: 80%;

// 		color: rgba($color: #d72525, $alpha: 0.75);

// 		&--genre {
// 			font-size: 1.9rem;
// 			font-weight: 600;
// 		}

// 		&--score {
// 			font-size: 1.8rem;
// 		}

// 		&--runtime {
// 			font-size: 1.8rem;
// 		}
// 	}

// 	&__overview {
// 		font-size: 1.9rem;
// 		font-family: 'Montserrat';
// 		font-weight: 500;
// 		line-height: 3rem;
// 		width: 70%;

// 		&--text {
// 			color: $color-grey-black;
// 		}
// 	}

// 	&__cast {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;

// 		// Need overflow hidden for the slick track (otherwise it's width would be 30k+ pixels wide)
// 		width: 75%;
// 		overflow: hidden;

// 		&--img {
// 			display: block;
// 			width: 12rem;
// 			height: 14rem;
// 			object-fit: cover;
// 			box-shadow: $box-shadow;
// 			margin-right: 2rem;
// 		}

// 		&--box {
// 			display: flex;
// 		}
// 	}

// 	&__links {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;

// 		width: 70%;
// 	}
// }

// .slick-slider {
// 	display: flex;
// 	width: 100%;
// }

// .slick-list {
// 	padding: 0 !important;
// 	margin: 0;
// 	overflow: hidden;
// }
