.navbar {
	background-color: rgba($color: $color-black, $alpha: 0.8);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__links {
		&--link {
			text-decoration: none;
		}
	}

	&__genres {
		list-style-type: none;

		&--item {
		}
	}
}
