.search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 30%;

	@media screen and (max-width: $bp-1700) {
		flex: 0 0 25%;
	}

	@media screen and (max-width: $bp-780) {
		flex: 0 0 45%;
	}

	@media screen and (max-width: $bp-500) {
		flex: 0 0 65%;
	}

	&__input {
		font-family: $font-primary;
		font-weight: bold;
		font-size: 1.3rem;

		@media screen and (max-width: $bp-900) {
			font-size: 1rem;
			letter-spacing: 0.1rem;
		}

		position: relative;
		width: 80%;

		letter-spacing: $letter-spacing-small;
		background-color: $color-grey-white;
		border-radius: 1.2rem;

		padding: 1rem 2rem;

		@media screen and (max-width: $bp-1000) {
			padding: 0.7rem 2rem;
		}

		@media screen and (max-width: $bp-780) {
			padding: 1rem 2rem;
		}

		border: none;
		transition: all 0.4s;

		&:focus,
		&:active {
			outline: none;
			width: 100%;
		}
	}

	&__submit {
		color: $color-grey-black;
		position: relative;

		top: -6px;
		right: 2rem;
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 0;
	}
}
